@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

//cards
@import "modules/settings.scss";

body {
  background: $wtf;
  color: #fff;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  display: grid;
  gap: 1rem;

  padding: 0 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px dotted hotpink;
  border-radius: 4px;
  background: #ffffff08;

  &__tall {
    @media screen and (min-width: 600px) {
      grid-row: span 2 / auto;
    }
  }

  &__wide {
    @media screen and (min-width: 600px) {
      grid-column: span 2 / auto;
    }
  }
}